@use "../colors";
@use "../mixins";
@use "../variables";

#home {
  main > section {
    &:first-of-type {
      padding-top: 2em;
    }
  }

  .round-card {
    border-radius: 12px;
    padding: 2rem;
  }

  section:not(#contact) {
    .btn {
      border: none;
      padding: 0.25rem 2rem;
      border-radius: 6px;
      font-weight: 800;
      color: colors.$white;
      &.btn-primary {
        background-color: colors.$teal-400;
      }
      &.btn-secondary {
        background-color: colors.$lilac-400;
      }
    }

    h1, h2 {
      font-weight: 800;
    }
    h3 {
      font-weight: 600;
    }

    > .columns {
      align-items: center;
    }
  }

  #hero {
    background-color: colors.$teal-200;
    color: colors.$black;

    .subtitle {
      text-transform:uppercase;
      font-weight: bold;
      letter-spacing: .25rem;
    }
  }

  #about-the-project {
    background-color: colors.$teal-400;
    color: colors.$white;
    text-align: center;

    .columns {
      background-color: colors.$teal-200;
      color: colors.$black;
      gap: 2em;
      text-align: left;
    }
  }

  #about-us {
    background-color: colors.$teal-200;

    .column:first-of-type {
      padding: 0 2rem;
      text-align: center;
    }

    .round-card {
      background-color: colors.$white;
      h3 {
        color: colors.$teal-400;
      }
    }
  }

  #latest-from-our-blog {
    background-color: colors.$white;
    color: colors.$darkblue-400;

    h2 {
      text-align: center;
    }
    .card {
      background-color: colors.$darkblue-400;
      color: colors.$white;
      min-width: 200px;
    }
  }

  #latest-from-our-insta {
    background-color: colors.$teal-400;
    color: colors.$white;
    h2 {
      text-align: left;
    }
    a {
      text-decoration: underline;
    }
  }

  #our-sponsors {
    background-color: colors.$white;
    color: colors.$darkblue-400;

    .columns {
      gap: 1em;
      justify-content: center;
      align-items: center;
    }

    // TODO: YIC scales in a way I really don't like
    .image-component {
      max-height: 100px;
      min-width: 100px;
    }
  }
}
