@use "../colors";
@use "../mixins";
@use "../variables";

#home {
  main > section {
    &:first-of-type {
      padding-top: 2em;
    }
  }

  #search-intro {
    background-color: colors.$teal-400;
    color: colors.$white;
    text-align: center;
  }

  #about {
    background-color: colors.$darkblue-400;
    color: colors.$white;
    text-align: center;

    .columns {
      gap: 2em;
    }

    // TODO: this is so unbelievably WIP
    .image-container {
      height: 250px;
      img,
      svg {
        max-height: 200px;
        max-width: 360px;
      }
      img {
        object-fit: cover;
        border: 5px solid white;
        border-radius: 10px;
      }
    }
    .to-right {
      display: flex;
      justify-content: flex-end;
      max-width: 360px;
    }
    button {
      display: flex;
      justify-content: center;
    }
  }

  #latest-from-our-blog {
    background-color: colors.$white;
    color: colors.$darkblue-400;

    h2 {
      text-align: center;
    }
    .card {
      background-color: colors.$darkblue-400;
      color: colors.$white;
      min-width: 200px;
    }
  }

  #latest-from-our-insta {
    background-color: colors.$teal-400;
    color: colors.$white;
    h2 {
      text-align: center;
    }
    a {
      text-decoration: underline;
    }
  }

  #our-sponsors {
    background-color: colors.$white;
    color: colors.$darkblue-400;

    .columns {
      gap: 1em;
      justify-content: center;
      align-items: center;
    }

    // TODO: YIC scales in a way I really don't like
    .image-component {
      max-height: 100px;
      min-width: 100px;
    }
  }
}
