# General
.DS_Store

# Docker
docker*override*

# Keystone
**/node_modules
admin/.keystone/admin
admin/keystone.db

# npm / general JS stuff
**/*.log
**/*debug.log*
**/package-lock.json
./package.json

# Next
.next

# other dev stuff
.env*

# backend
backend/db*
backend/**/*.sqlite3