# General
.DS_Store
.vscode

# Docker
docker*override*

# Keystone
**/node_modules
admin/.keystone/admin
admin/keystone.db

# npm / general JS stuff
**/*.log
**/*debug.log*
**/package-lock.json
./package.json

# Next
.next

# other dev stuff
.env*

# backend
backend/db*
**/*.sqlite3
**/__pycache__
**/*.pyc
backend/data/staticfiles/**/*
backend/_*/**/_*