asgiref==3.6.0
Django==4.1.4
django-extensions==3.2.1
djangorestframework==3.14.0
pytz==2022.7
sqlparse==0.4.3
psycopg2-binary==2.9.5
cloudinary==1.30.0
dj3-cloudinary-storage==0.0.6
django-mdeditor==0.1.20
drf-flex-fields==1.0.0
django-ufilter==0.4.0
django-flat-json-widget==0.2.0
meilisearch==0.23.0
# production
gunicorn==v20.1.0
python-dotenv==0.21.0
dj-database-url==1.2.0
whitenoise==6.3.0
