@use "../variables";

.image-container {
    width: 100%;

    > div {
        position: unset !important;
    }

    .image-component {
        object-fit: contain;
        width: 100% !important;
        position: relative !important;
    }
}