@use '../variables';
@use '../colors';

header {
    z-index: 999;
    height: 75px; // temp
    width: 100%;
    border: 1px solid white;
    background: colors.$teal-400;

    position: sticky;
    left: 0;
    top: -25%;

    transition: top 0.17s ease;

    &[data-show=true] {
        top: 0;
    }
    @media (prefers-reduced-motion) {
        & {
            top: 0;
            transition: unset;
        }
    }

    [id^=storybook] & {
        position: absolute;
    }
}

.page {
    main {
        padding: 2em 0;
    }
}

footer {
    width: 100%;
    height: 75px; // temp
    border: 1px solid white;
    background: colors.$teal-400;

    [id^=storybook] & {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}