@use "../variables";
@use "../colors";
@use "../mixins";

header {
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid white;
  background: colors.$teal-400;

  padding: 1em 0;

  position: sticky;
  left: 0;
  top: -25%;

  transition: top 0.17s ease;

  &[data-show="true"] {
    top: 0;
  }

  .logo {
    height: 6em;
    width: auto;
  }

  .rows {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    justify-content: space-between;
  }

  .link-container {
    flex: 1;
    width: 100%;
    justify-content: space-between;
  }

  .links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
      & + a {
        margin-inline-start: 2em;
      }

      &:hover,
      &:focus {
        svg {
          // TODO
          fill: colors.$red-400;
        }
      }
    }

    .get-out-quick {
      color: colors.$darkblue-400;
    }

    svg {
      fill: colors.$white;
      &.lucide-twitter {
        color: transparent;
      }
      &.lucide-instagram {
        color: colors.$teal-400;
      }
      @media not (prefers-reduced-motion) {
        transition: fill 0.1s linear;
      }
    }
  }

  @media (prefers-reduced-motion) {
    & {
      top: 0;
      transition: unset;
    }
  }

  [id^="storybook"] & {
    position: absolute;
  }
}

.page {
  main {
    &:focus {
      outline: none;
    }

    > .container {
      max-width: 90vw;
    }

    > section {
      @include mixins.full-width;
      position: relative;
      padding: 4em 1rem;
      &#contact {
        background-color: colors.$lilac-400;
        color: colors.$white;
      }

      &.hero {
        background-color: colors.$darkblue-400;
        color: colors.$white;
      }
    }
  }
}

footer {
  width: 100%;
  border-top: 1px solid white;
  background: colors.$teal-400;
  padding: 3em 0;

  .border-top {
    border-top: 1px solid colors.$white;
    margin: 2em -2em;
    align-items: start;
    padding: 2em;
    .column {
      height: 100%;
    }
  }

  .logo {
    height: 10em;
    width: auto;
    margin: 0;
  }
  a {
    text-decoration: underline;
  }

  ul.links {
    list-style: none;
    margin: unset;
  }

  [id^="storybook"] & {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  #land-acknowledgement {
    text-align: center;
  }
}

header,
footer {
  color: colors.$white;
}

#skip-to-content {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: inherit;
  box-sizing: border-box;

  transform: translateY(-100%);

  &,
  &:visited {
    color: initial;
  }

  &:focus {
    transform: translateY(0);
  }

  @media print {
    & {
      display: none;
    }
  }
}

.btn.get-out-quick {
  color: colors.$darkblue-400;
  &:hover {
    background-color: colors.$red-400;
  }
}
