@use "../colors";
#community-map {
  .container {
    position: absolute;
    max-width: unset;
    padding: unset;
    height: 100%;
    overflow: hidden;

    > .columns {
      height: 100%;
      width: 100%;
    }
  }

  .map-overlay {
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .map-viewport {
    flex: 1;
  }

  header {
    background: colors.$white;
    color: colors.$teal-400;
    height: 100%;
    flex: 0;
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 4rem 1rem;
    gap: 1em;

    #logo {
      width: 80%;
      svg {
        display: block;
        height: auto;
      }
    }

    .links {
      flex-direction: column;
      align-items: flex-end;
      font-weight: 600;
      font-size: 1rem;
      text-decoration: underline;
      gap: 0.75rem;
    }

    // @media (max-width: 480px) {
    //   & {
    //     display: none;
    //   }
    // }
  }
  #filter-container {
    background-color: colors.$teal-400;
    color: colors.$white;

    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    min-height: 1em;
    padding: 1em 1em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 15px;

    .show-toggle {
      position: absolute;
      bottom: 100%;
      left: 0;

      background-color: colors.$teal-400;
      font-size: 1.4em;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      padding: 0.25em 0.75em;
      text-transform: lowercase;
      cursor: pointer;

      i {
        font-size: 0.8em;
        margin-left: 1em;
      }

      &::after {
        background-color: colors.$teal-400;
        position: absolute;
      }
    }

    &[data-show="true"] {
      transform: translateY(0);
      .show-toggle i {
        rotate: 180deg;
      }
    }

    .filter-chip {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      background-color: colors.$white;
      color: colors.$black;
      font-weight: 700;
      padding: 1em;

      cursor: pointer;
      overflow: visible;

      &::after {
        position: absolute;
        left: 95%;
      }

      i {
        color: colors.$teal-400;
        font-size: 0.8em;
        margin-left: 1em;
      }
    }

    @media not (prefers-reduced-motion) {
      transition: transform 0.17s ease;
    }
  }

  #filter-modal {
    .form-group {
      flex-wrap: wrap;
    }
  }

  #omnisearch-container {
    position: absolute;
    background: colors.$teal-400;
    background: linear-gradient(180deg, #35928f 0%, #00807d 97.2%);
    width: 45%;
    min-height: 40%;
    min-width: min(100vw, 500px);
    max-width: 700px;

    transform: translateX(-100%);

    @media not (prefers-reduced-motion) {
      transition: transform 0.17s ease-in-out;
    }

    .show-toggle {
      // TODO: I don't like the way this looks
      position: absolute;
      bottom: 0;
      left: 100%;
      height: 4em;
      padding: 5px 10px;
      background-color: colors.$teal-400;
      color: colors.$white;

      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;
    }

    &[data-show="true"] {
      transform: translateX(0);
      .show-toggle {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    #omnisearch {
      position: relative;
      .form-autocomplete {
        overflow: hidden;

        > .form-input {
          padding: 15px;
          background: colors.$teal-400;
        }
      }

      .menu {
        overflow-y: scroll;
        padding: 15px;

        &:first-of-type {
          padding-bottom: 0;
        }

        background: transparent;
        .menu-item {
          background-color: colors.$white;
          padding: 5px 10px;
          margin: 0;
        }
      }
    }
  }

  figure,
  .mapboxgl-map {
    position: absolute !important;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .get-out-quick {
    position: absolute;
    top: 2em;
    right: 2em;
  }
}
