// internal modules
@use "fonts";
@use "colors";

// pages
@use "pages/home";
@use "pages/blog";
@use "pages/about";
@use "pages/services/detail";

// components
@use "components/image";
@use "components/layout/index";
@use "components/mapbox";
@use "components/autocomplete";
@use "components/undraw";

// spectre overrides
$primary-color: colors.$lilac-400;
$error-color: colors.$red-400;

// external packages
@import "node_modules/spectre.css/src/spectre";
@import "node_modules/spectre.css/dist/spectre-icons.min";

html,
body {
  padding: 0;
  margin: 0;
  font-family: fonts.$body;
  overflow-x: clip;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: fonts.$title;
}

a,
a:visited {
  &:not(:focus) {
    color: inherit;
  }
}

a:focus,
a:focus * {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}
