// external packages
@use '../node_modules/spectre.css/src/spectre';
@use '../node_modules/spectre.css/dist/spectre-icons.min';

// internal modules
@use "fonts";
@use "colors";

// pages
@use "pages/home";
@use "pages/blog";

// components
@use "components/image";
@use "components/layout";




html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}